samples/imwe2008/wfs-featuretypes.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:imwe="imwe"
            elementFormDefault="qualified" targetNamespace="imwe">
    <xsd:import namespace="http://www.opengis.net/gml"
                schemaLocation="http://108.171.173.8:80/data/schemas/gml/3.1.1/base/gml.xsd"/>
    <xsd:complexType name="welstandsniveaugebiedType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="welstandsniveaugebied_fid" nillable="true"
                                 type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="niveaunaam" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="niveaugeometrie" nillable="true"
                                 type="gml:GeometryPropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="niveaubeschrijving" nillable="true"
                                 type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gebiedsniveau" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="begintijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="eindtijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="identificatie" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="welstandsnotarefid" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="welstandsniveaugebied" substitutionGroup="gml:_Feature" type="imwe:welstandsniveaugebiedType"/>
    <xsd:complexType name="welstandsnotaType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="welstandsnota_fid" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="welstandsnotagebiedgeometrie" nillable="true"
                                 type="gml:GeometryPropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gemeentenaam" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="opsteller" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gebiedinleiding" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="objectinleiding" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="begintijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="eindtijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="identificatie" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="welstandsnota" substitutionGroup="gml:_Feature" type="imwe:welstandsnotaType"/>
    <xsd:complexType name="gebiedType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gebied_fid" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gebiedsnaam" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gebiedsgeometrie" nillable="true"
                                 type="gml:GeometryPropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="gebiedbeschrijving" nillable="true"
                                 type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="begintijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="eindtijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="identificatie" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="gebied" substitutionGroup="gml:_Feature" type="imwe:gebiedType"/>
    <xsd:complexType name="objectType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="object_fid" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="objectbeschrijving" nillable="true"
                                 type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="objectgeometrie" nillable="true"
                                 type="gml:GeometryPropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="objecttype" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="lichtvergunningsplichtigebouwwerkencategorie"
                                 nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="objectniveau" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="begintijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="eindtijd" nillable="true" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="identificatie" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="welstandsnotarefid" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="objectnaam" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="object" substitutionGroup="gml:_Feature" type="imwe:objectType"/>
</xsd:schema>
